.menu {
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 42px;
  font-weight: 700;
  height: 100vh;
  justify-content: center;
  left: 100vw;
  position: absolute;
  top: 0;
  transition: 0.75s ease;
  width: 100vw;
  z-index: 2;
}

.menu--open {
  transform: translateX(-100vw);
}

.menu li {
  cursor: pointer;
  margin: 10px 0;
}
