.screen {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr 120px;
  height: 100vh;
  left: -100vw;
  position: absolute;
  top: 0;
  transition: 0.75s ease;
  width: 100vw;
  z-index: 1;
}

.screen--open {
  transform: translateX(100vw);
}

.logo {
  cursor: pointer;
  font-size: 30px;
  font-weight: 900;
  left: 50px;
  position: absolute;
  top: 36px;
}

.photo--screen {
  background-image: url("/yoshi-takekawa-147380-unsplash.jpg");
  position: relative;
}

.featured {
  align-items: center;
  background: #476c41;
  bottom: 0;
  color: #fff;
  display: flex;
  height: 120px;
  margin: 0 10%;
  position: absolute;
  width: 80%;
}

.featured__headline {
  font-size: 24px;
  font-weight: 700;
  padding: 40px;
}
